.plugin-eca {
color:#000000;
}
	
.fi-info {
  font-size: 20px;
  position: relative;
  top: 2px;
}

.bar rect, .bar line, #arrowhead, #arrowhead-total {
shape-rendering: crispEdges;
}

.bar.today rect {
  fill: #EBE9D7;
  stroke: #bbbbbb;
}
.bar.economic rect {
  fill: #C2CFC0;
  stroke: #bbbbbb;
}
.bar.climate rect {
  fill: #7991AB;
  stroke: #bbbbbb;
}

.bar.total rect {
  fill: #412A22;
  stroke: #bbbbbb;
}

.bar.cb.beach rect, .eca-legend.beach rect  {
  fill: #F7F3CE;
  stroke: #aaaaaa;
}

.bar.cb.levees rect, .eca-legend.levees rect  {
  fill: #CED7DE;
  stroke: #bbbbbb;
}

.bar.cb.oysters rect, .eca-legend.oysters rect  {
  fill: #527D84;
  stroke: #bbbbbb;
}

.bar.cb.barrier rect, .eca-legend.barrier rect  {
  fill: #C2CFC0;
  stroke: #bbbbbb;
}

.bar.cb.sandbags rect, .eca-legend.sandbags rect  {
  fill: #666666;
  stroke: #bbbbbb;
}

.bar.cb.wetlandrisk rect, .eca-legend.wetlandrisk rect  {
  fill: #5F7287;
  stroke: #bbbbbb;
}

.bar.cb.wetlandconservation rect, .eca-legend.wetlandconservation rect   {
  fill: #86A1BE;
  stroke: #bbbbbb;
}

.bar.cb.wetland rect, .eca-legend.wetland rect   {
  fill: #7991AB;
  stroke: #bbbbbb;
}

.bar.cb.other rect, .eca-legend.other rect {
  fill: #412A22;
  stroke: #bbbbbb;
}


.categories rect {
stroke: #bbbbbb;
}

.line-cb line{
  stroke: #ff0000;
  stroke-dasharray: 3;
}

.cb-ratio line{
  stroke: #ff0000;
  stroke-dasharray: 3;	
}

.bar line.connector {
  stroke: grey;
  stroke-dasharray: 3;
}

.bar line.line-arrow {
  stroke: #bbbbbb;
}

.bar line.line-arrow-total {
  stroke: #ffffff;
}

.bar line.connector-total {
  stroke: #ffffff;
  stroke-dasharray: 3;
}

.bar text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: middle;
}

.bar.today text {
  fill: black;
}

.bar text.line-arrow-text {
	fill: black;
	font: 10px sans-serif;
}

.bar text.line-arrow-text-total {
	fill: #ffffff;
	font: 10px sans-serif;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x-axis-title {
font: 10px sans-serif;
}

#arrowhead {
	fill: #aaaaaa;
}

#arrowhead-total{
  fill: #ffffff;
}

/* base CSS element */
.measuresChartTooltip {
position:absolute;
display:none;
z-index: 10;
padding: 10px;
border-radius: 5px;
max-height:75px; 
width:100px; 
left:0px; 
top:0px; 
background-color: #444444; 
border: 1px solid #cccccc;
color: #ffffff;
font-size: 11px;
font-weight: bold;
text-align:center;
}
.measuresChartTooltip span {
display:inline-block;
vertical-align:middle;
text-align:center;
}

.measuresChartTooltip:after, .measuresChartTooltip:before {
top: 100%;
left: 50%;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
}

.measuresChartTooltip:after {
border-color: rgba(68, 68, 68, 0);
border-top-color: #444;
border-width: 5px;
margin-left: -5px;
}
.measuresChartTooltip:before {
border-color: rgba(204, 204, 204, 0);
border-top-color: #ccc;
border-width: 6px;
margin-left: -6px;
}

/* 
 * Mesasage info box 
 */

.pluginEca-info-box {
    position: absolute; 
}

.pluginEca-info-box .body {
    width: 300px;
    max-height: 400px;
    background: #fff;
    border: 5px solid #444;
    border-radius: 5px;
    padding: 10px 10px 0 10px;
    overflow: auto;
}

.pluginEca-info-box .close {
    position: absolute;
    top: 7px;
    right: 7px;
    cursor: pointer;
    padding: 6px;
    background: #FFF;
    border-radius: 4px;
    color: #CCC;
    font-weight: 700;
    height: 24px;
    line-height: 10px;
    width: 24px;
    font-size: 14px;
}
.pluginEca-info-box .close:hover {
    background: #F1F2F2;
    color: #333;
}

.pluginEca-info-box .info-label {
    font-weight: bold;
    padding-bottom: 3px;
}

.pluginEca-info-box .info-value {
    padding-bottom: 10px;
}

.eca-labels {
font-size: 13px !important;
top: 1px !important;
position: relative !important;
}
.plugin-eca .dijitRuleLabel, .plugin-eca  .dijitReset  {
font-size: 13px !important;
}

.overviewHeader {
font-size: 16px;
}
.eca-overview {
line-height: 1 !important;
}
.eca-overview ul {
list-style-type: circle;
line-height: 1 !important;
padding-left: 25px;
margin-top: 20px;
}
.eca-overview .a li {
list-style-type: disc;
margin-bottom: 10px;
}
.eca-overview .b li {
list-style-type: lower-roman;
margin-bottom: 10px;
}
